.login
    padding: 1em
    background: #6B7380
    // background: #ff2a6b
    overflow: hidden
    padding: 0.5em
    max-width: 100%

.login-container
    display: flex
    justify-content: flex-end
    max-width: 1176px
    margin: 0 auto
    padding: 0 1em

.user
    color: white
    &.t-login
        display: flex
        align-items: center
    
.user-avatar
    width: 36px
    height: 36px
    overflow: hidden
    border-radius: 0.5em
    margin-right: 0.5em

    img
        width: 100%
        height: auto

.user-desc
    margin: 0 1em 0 0
    @media screen and (max-width: 320px)
        display: none

.login-link
    display: inline-block
    color: white
    cursor: pointer