$xs: "only screen and (max-width : 320px)"
$mobile: "only screen and (min-width : 576px)"
$tablet: "only screen and (min-width : 768px)"
$laptop: "only screen and (min-width : 992px)"
$desktop: "only screen and (min-width : 1200px)"
$theme-pink: #ff2a6b
$menu-desktop: 48px

@keyframes easein
    0%
        height: 0
        opacity: 0
    80%
        opacity: 1
    100%
        height: 4.1em

.menu
    width: 100%
    background: white
    &-dummy
        height: 4.1em
        @media #{$laptop}
            display: none
    &.u-fixed
        position: fixed
        top: 0
        left: 0
        z-index: 1030
        border-bottom: solid 1px rgba(170, 170, 170, 0.2)
        animation: easein 300ms forwards
        @media #{$laptop}
            position: relative
            animation: none
            border-bottom: none
    &__logo
        display: none
        @media #{$laptop}
            display: block
    &__home
        display: flex
        justify-content: center
        flex-direction: column
        svg
            display: block
            margin: 0 auto
        @media #{$laptop}
            display: none
    &__list
        position: relative
        display: flex
        flex-flow: row wrap
        justify-content: center
        list-style-type: none
        margin: 0
        padding: 0
        height: 4.1em
        border-top: solid 1px rgba(170, 170, 170, 0.2)
        @media #{$laptop}
            position: relative
            justify-content: flex-end
            height: auto
            max-width: 1176px
            margin: 0 auto
            border-top: 0
            z-index: 0
            max-height: $menu-desktop
    &__link
        display: flex
        justify-content: center
        align-items: center
        border-left: 0
        text-decoration: none
        color: #aaa
        flex: 1 1 calc(100% / 2)
        &:hover
            color: #6B7380
            opacity: 0.8
        &.active
            // background: #6b7380
            color: #6B7380
            &:hover
                color: #6B7380
                opacity: 0.8
        @media #{$laptop}
            display: block
            color: #191919
            line-height: 1
            flex: 0 0 auto
            &:first-of-type
                position: absolute
                left: 0
                top: 0
                background-image: url('../../assets/logo.png')
                background-size: contain
                background-repeat: no-repeat
                background-position: center
                li
                    padding: 0
                    width: 95px
                    height: $menu-desktop

        &:hover
            color: #191919
            svg
                fill: #191919
            @media #{$laptop}
                color: #191919
    li
        display: flex
        flex-flow: column wrap
        align-items: center
        font-size: 0.7rem
        padding: 1em
        text-align: center
        @media #{$xs}
            font-size: 0.6rem
        @media #{$laptop}
            font-size: 1rem
            text-align: left
    svg
        display: block
        fill: #aaa
        transition: ease 200ms
        @media #{$laptop}
            display: none

.is-signin a
    flex: 1 1 calc((100% / 4) - 1em)
    // @media #{$xs}
    //     flex: 1 1 calc(100% / 4)
    @media #{$laptop}
        flex: 0 0 auto