<div class="main" *ngIf="limitation; else loading" scroll-div (debounceScroll)="getScroll($event)" #container>
  <h2 class="u-header t-recipe">
    <ng-container *ngIf="(param$|async) as tag; else normalTitle;">
      Tag:
      <span class="tags" *ngFor="let item of tag">{{item}}</span>
    </ng-container>
    <ng-template #normalTitle>{{title}}</ng-template>
  </h2>
  <p *ngIf="(param$ | async) && (items$ | async) as recipe">Total: {{recipe.length}}</p>
  <div [ngClass]="'recipe-container ' + customClass">
    <a class="recipe" *ngFor="let item of items$ | async" routerLink="/recipe/{{item.id}}" routerLinkActive="active">
      <app-likebutton *ngIf="customClass === 'l-regular'" class="recipe__like t-white" [recipeId]="item.id"
        [likeList]="item.like" [likeCount]="item.likeCount"></app-likebutton>
      <div class="recipe-img" *ngIf="item.image; else placeholder"
        [ngStyle]="{'background-image': 'url('+item.image+')'}"></div>
      <ng-template #placeholder>
        <div class="recipe-img" [ngStyle]="{'background-image': 'url(../assets/l_e_others_490.png)'}"></div>
      </ng-template>
      <div class="recipe-desc">
        <p class="recipe-title">{{item.title}}</p>
        <p *ngIf="customClass === 'l-small'" class="recipe-date">{{item.createdAt.toDate().toString().substr(4,11)}}
        </p>
        <app-likebutton *ngIf="customClass === 'l-small'" class="recipe__like t-white" [recipeId]="item.id"
          [likeList]="item.like" [likeCount]="item.likeCount"></app-likebutton>
      </div>
    </a>
  </div>
</div>

<ng-template #loading>
  <div class="u-loading">
    Loading...
  </div>
</ng-template>