<div class="main t-searchbar">

  <h2 class="u-header">Search</h2>

  <form class="form-wrapper" [formGroup]="searchForm">
    <div class="form-search">
      <ng-select #tagsSelect [items]="tags" [multiple]="true" [selectOnTab]="true" bindValue="name" bindLabel="name"
        [closeOnSelect]="false" groupBy="category" [loading]="loadingTags" [hideSelected]="true" labelForId="tags"
        placeholder="Select tags" formControlName="tags">
      </ng-select>
    </div>

    <button class="btn t-icon" type="submit" (click)="onSubmit()">
      <svg viewBox="0 0 24 24" width="24" height="24">
        <use xlink:href="./assets/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </form>

</div>