$xs: "only screen and (max-width : 576px)"
$mobile: "only screen and (min-width : 576px)"
$tablet: "only screen and (min-width : 768px)"
$laptop: "only screen and (min-width : 992px)"
$desktop: "only screen and (min-width : 1200px)"
$theme-pink: #ff2a6b

a
    text-decoration: none

.recipe-container
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    margin-bottom: 2em

.recipe
    position: relative
    width: 100%
    height: 296px
    margin: 0 0 2em 0

    @media #{$laptop}
        width: calc((100% / 3) - 0.7em)
        margin: 0 1em 2em 0

        &:nth-child(3n)
            margin: 0 0 2em 0
    &__like
        position: absolute
        top: 1em
        right: 1em
        z-index: 2
        color: white
    &-img
        position: relative
        height: 100%
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        &:after
            position: absolute
            top: 0
            left: 0
            right: 0
            left: 0
            display: block
            width: 100%
            height: 100%
            background-image: url('/assets/l_e_others_490.png')
            background-size: cover
            background-repeat: no-repeat
    
    &-title
        margin: 0

    &-desc
        position: absolute
        bottom: 0
        left: 0
        max-width: 70%
        height: 4.6em
        background: #ff2a6b
        color: white
        padding: 17px 25px 15px
        &:after
            position: absolute
            content: ''
            width: 0
            height: 0
            border-top: 4.6em solid #ff2a6b
            border-right: 2.4em solid transparent
            top: 0
            right: -2.3em


.recipe-container.l-small
    display: flex
    flex-flow: row wrap
    margin-bottom: 2em
    @media #{$laptop}
        flex-flow: column wrap

    .recipe
        display: flex
        height: 77px
        @media #{$laptop}
            height: 10em


    .recipe-img
        position: relative
        flex: 0 0 77px
        @media #{$laptop}
            flex: 0 0 10em

    .recipe-desc
        position: relative
        display: flex
        flex-flow: column nowrap
        justify-content: center
        background: none
        color: #191919
        padding: 0 0 0 1em
        max-width: 100%
        height: 100%
        flex: 1 1 60%
        &:after
            display: none
    .t-white
        position: relative
        top: auto
        right: auto

    .recipe-date
        font-size: 0.8rem
        margin: 0 0 0.5em 0
        color: rgb(107, 115, 128)


.t-builder
    margin-bottom: 2em