<section class="main__banner"></section>

<section class="benefits">
  <h2 class="benefits__title">Amazing Recipes</h2>
  <ul class="benefits__list">
    <li>Easy to made</li>
    <li>Save your favourite one</li>
    <li>View others' recipes</li>
  </ul>
</section>

<h2 class="u-header t-recipe">Latest recipes</h2>
<section class="recipe-container">
  <div class="recipe" *ngFor="let item of items | async">
    <button class="recipe__like" like-item id="{{item.id}}">

      <ng-container *ngIf="item.like && item.like[(session.getUserInfoObs() | async).uid] === true; else notlike">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="./assets/sprite.svg#favorite"></use>
        </svg>
      </ng-container>

      <ng-template #notlike>
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="./assets/sprite.svg#favorite_border"></use>
        </svg>
      </ng-template>

      <p *ngIf="item.like">{{getLength(item.like)}}</p>
      <p *ngIf="!item.like">0</p>
    </button>
    <a routerLink="../recipe/{{item.id}}" routerLinkActive="active">
      <div class="recipe-img" *ngIf="item.image; else placeholder"
        [ngStyle]="{'background-image': 'url('+item.image+')'}"></div>
      <ng-template #placeholder>
        <div class="recipe-img" [ngStyle]="{'background-image': 'url(../assets/l_e_others_490.png)'}"></div>
      </ng-template>
    </a>
    <div class="recipe-desc">
      <p class="recipe-title">{{item.title}}</p>
    </div>
  </div>
</section>

<section class="toprate"></section>