<section class="form-builder">
  <h1 class="u-header">
    <ng-container *ngIf="(isEdit$ | async) === false; else editTitle">Create Recipe</ng-container>
    <ng-template #editTitle>Edit Recipe</ng-template>
  </h1>

  <form [formGroup]="recipeForm">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" formControlName="title" placeholder="Enter recipe title" required>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="url" name="image" formControlName="image" placeholder="Enter recipe image url" required>
    </div>
    <div class="form-group">
      <label for="title">Preperation time</label>
      <input type="text" name="prep" formControlName="prep" placeholder="Enter recipe preperation time, e.g. 30 min"
        required>
    </div>
    <div class="form-group">
      <label for="cook">Cooking time</label>
      <input type="text" name="cook" formControlName="cook" placeholder="Enter recipe cooking time, e.g. 30 min"
        required>
    </div>
    <div class="form-group">
      <label for="serve">Servings</label>
      <input type="text" name="serve" formControlName="serve" placeholder="Enter recipe servings, e.g. 24" required>
    </div>

    <div class="form-group">
      <h2>Ingredients</h2>
      <section class="form-group t-indgroup">
        <div formArrayName="ingredients" *ngFor="let item of ingredients.controls; let i = index;">
          <label for="name">Ingredient {{i+1}}</label>
          <div class="form-group t-ingredients" [formGroupName]="i">
            <input class="form-input t-ingredients" formControlName="name" placeholder="e.g. 1 cup milk">
            <button class="btn form-button t-primary" (click)="removeItem('ingredients', i)"
              *ngIf="i > 0">Remove</button>
          </div>
        </div>

        <button class="btn form-button" (click)="addItem('ingredients')">Add Item</button>
      </section>
    </div>

    <div class="form-group">
      <h2>Instructions</h2>
      <section class="form-group t-indgroup">
        <div formArrayName="instructions" *ngFor="let item of instructions.controls; let i = index;">
          <label for="name">Step {{i+1}}</label>
          <div class="form-group t-ingredients" [formGroupName]="i">
            <textarea class="form-input t-steps" formControlName="step"
              placeholder="Enter step of your recipe"></textarea>
            <button class="form-button t-primary" (click)="removeItem('instructions', i)" *ngIf="i > 0">Remove</button>
          </div>
        </div>

        <button class="btn form-button" (click)="addItem('instructions')">Add Item</button>
      </section>
    </div>

    <section class="form-group">
      <h2>Options</h2>

      <div class="form-group form-public">
        <label for="public">Set as public recipe</label>
        <input type="checkbox" name="public" formControlName="public">
      </div>
    </section>

    <input class="btn form-button t-primary" type="submit" (click)="onSubmit($event)"
      [value]="(isEdit$ | async) === false ? 'Submit' : 'Update'" />

    <p *ngIf="submitComplete | async">Finished!</p>

  </form>
</section>