<section class="dashboard">

  <div class="dashboard__userinfo" *ngIf="userInfo | async as user">
    <div class="dashboard__avatar">
      <img src="{{user.photoURL}}" alt="">
    </div>
    <div class="dashboard__details">
      <p class="dashboard__username">{{user.displayName}}</p>
      <p class="dashboard__subheader">{{user.email}}</p>
    </div>
  </div>

  <div class="recipes">
    <h2 class="u-header dashboard__title">My Recipes</h2>

    <ng-container *ngIf="(recipes$ | async); let recipeList">
      <ng-container *ngIf="recipeList.length > 0; else emptycontent">
        <div *ngFor="let element of recipeList">
          <div class="recipes__item">
            <div class="recipes__image" [ngStyle]="{'background-image': 'url('+element.image+')'}">
              <div class="recipes__tag">
                <time class="recipes__date">{{element.createdAt.toDate().toString().substr(4,11)}}</time>
              </div>
            </div>
            <div class="recipes__details">
              <p>{{element.title}}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #emptycontent>
      <p>You have not create any recipes yet.</p>
      <button class="btn" [routerLink]="['/builder']">
        Create Recipe
      </button>
    </ng-template>

  </div>
</section>


<ng-template #placeholder>
  <div class="recipes__image">
    <div class="recipes__tag">
      <time class="recipes__date">{{item.createdAt.toDate().toString().substr(4,11)}}</time>
    </div>
  </div>
</ng-template>