$xs: "only screen and (max-width : 576px)"
$mobile: "only screen and (min-width : 576px)"
$tablet: "only screen and (min-width : 768px)"
$laptop: "only screen and (min-width : 992px)"
$desktop: "only screen and (min-width : 1200px)"

a
    text-decoration: none
    &:hover
        color: inherit

.dashboard
    line-height: 1.4
    margin-bottom: 2em

    &.noscroll
        overflow: hidden

    &__userinfo
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        margin: 1em 0 0.5em 0
        padding: 1em
        @media #{$laptop}
            padding: 2em


    &__avatar
        border-radius: 50%
        border: solid 3px #efefef
        width: 5em
        height: 5em
        margin: 0 0 0.5em 0
        overflow: hidden

        img
            width: 100%
            height: auto

    // &__details
    //     margin: 0 0 2em 0

    &__username
        font-size: 1.8rem
        margin: 0

    &__subheader
        font-size: 1.2rem
        margin: 0
        color: #d1d1d1
    &__selector
        display: flex
        margin: 0 0 2em 0
    &__editor
        margin: 0 0 2em 0

@keyframes fade-in
    0%
        opacity: 0
        scale: 0
    100%
        opacity: 1
        scale: 1

.recipes
    &__form
        margin: 0 0 2em 0
    &__input
        position: absolute
        top: 1.2em
        left: 0.9em
        z-index: 1
        min-height: 0
        width: 24px
        height: 24px
        padding: 0
        margin: 0
        border: solid 1px #aaaaaa
        border-radius: 50%
        appearance: none
        transition: ease 200ms
        &:checked
            background: #ff2a6b
        &:after
            content: ""
            position: absolute
            top: 0.3em
            left: 0.3em
            width: 50%
            height: 25%
            display: block
            border: solid 2px white
            transform: scale(0) rotate(0)
            opacity: 0
            border-right: 0
            border-top: 0
            transition: transform 400ms, opacity 200ms
        &:checked:after
            opacity: 1
            transform: scale(1) rotate(-45deg)


    &__container
        @media #{$laptop}
            display: flex
            flex-flow: row wrap

    &__item
        position: relative
        display: flex
        appearance: none
        -webkit-appearance: none
        background: white
        border: 0
        width: 100%
        margin: 0 0 1.5em 0
        padding: 0
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1)
        transition: ease 300ms
        &.l-selectable
            cursor: pointer
            &:hover
                opacity: 0.85
        @media #{$laptop}
            display: flex
            flex-flow: row wrap
            width: calc((100% / 2) - 1em)
            margin: 0 1em 1em 0

    &__link
        @media #{$laptop}
            display: block
            width: calc(100% / 2)
            > .recipes__item
                width: calc(100% - 1em)

            .recipes__container &:nth-child(2n) > .recipes__item
                margin: 0 0 1em 0

    &__image
        position: relative
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        background-image: url('/assets/l_e_others_490.png')
        height: 8.5em
        flex: 0 0 40%
        @media #{$laptop}
            height: 12em

    &__tag
        position: absolute
        top: 0
        left: 0
        padding: 0.5em
        font-size: 0.9rem
        color: white
        background: #ff2a6b
        &:after
            position: absolute
            content: ''
            width: 0
            height: 0
            border-top: 2.4em solid #ff2a6b
            border-right: 1.8em solid transparent
            top: 0
            right: -1.7em

    &__date
        font-size: 0.8rem
        color: rgb(107, 115, 128)

    &__details
        display: flex
        flex-direction: column
        justify-content: center
        padding: 1em
        flex: 0 0 60%
        // @media #{$laptop}

        p
            font-size: 1.2rem
            margin: 0 0 0.25em 0
    
.recipe__like
    top: auto
    bottom: 1em

.modal
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    min-height: 100vh
    background: rgba(0,0,0,0.5)
    opacity: 0
    z-index: -1
    &.active
        opacity: 1
        z-index: 1030
        transition: ease 300ms
    &__container
        background: white
        color: #191919
        padding: 2em
        max-width: calc(100vw - 2em)
        border-radius: 1em
    .u-header
        margin-top: 0.5em
        margin-bottom: 0.5em
    &__text
        margin: 0 0 2em 0
    &__btn
        display: flex
        flex-flow: row wrap
        justify-content: flex-end
        .btn:last-of-type
            margin: 0
    .btn
        margin: 0 1em 0 0
        min-width: 5em

.btn
    &:disabled
        background: #ccc
        cursor: not-allowed
        &:hover
            opacity: 1