<div class="recipe" *ngIf="((recipe | async)) as recipes; else loading">
  <div *ngIf="recipes.public || (session.getUserInfoObs() | async)?.uid === recipes.uid; else private">
    <h1 class="recipe-header">{{recipes.title}}</h1>
    <time class="recipe-time">{{recipes.createdAt.toDate().toString().substr(4,11)}}</time>


    <button class="recipe__like" like-item id="{{recipes.id}}">
      <ng-container
        *ngIf="recipes.like && (session.getUserInfoObs() | async)?.uid && isLike(recipes.like, (session.getUserInfoObs() | async)?.uid) === true; else notlike">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="./assets/sprite.svg#favorite"></use>
        </svg>
      </ng-container>

      <ng-template #notlike>
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="./assets/sprite.svg#favorite_border"></use>
        </svg>
      </ng-template>

      <p *ngIf="recipes.like">{{getLength(recipes.like)}}</p>
      <p *ngIf="!recipes.like">0</p>
    </button>

    <section class="recipe-editor" *ngIf="(session.getUserInfoObs() | async)?.uid === recipes.uid">
      <button class="btn t-icon" routerLink="../../builder" [queryParams]="{edit: recipes.id}"
        routerLinkActive="active">
        <svg viewBox="0 0 24 24" width="24" height="24">
          <use xlink:href="./assets/sprite.svg#mode_edit"></use>
        </svg>
        Edit
      </button>
    </section>

    <div class="recipe-bg">
      <img src="{{recipes.image}}" alt="{{recipes.title}}" onError="this.classList.add('u-none');">
    </div>

    <article class="recipe-container">
      <section class="recipe-details">
        <div class="recipe-tag">
          <div class="recipe-prepare">
            <p>Cook: {{recipes.cook}}</p>
            <p>Prep: {{recipes.prep}}</p>
            <p>Serve: {{recipes.serve}}</p>
          </div>
        </div>

        <div class="recipe-ingredients">
          <h2 class="recipe-header">Ingredients</h2>
          <form [formGroup]="ingredientsForm">
            <ng-container *ngIf="recipes.ingredients">
              <div class="recipe-ingredients__group" *ngFor="let ingredient of recipes.ingredients; index as i">
                <input type="checkbox" name="ingredients-{{i}}" id="ingredients-{{i}}" formControlName="{{i}}" />
                <label for="ingredients-{{i}}">{{ingredient.name}}</label>
              </div>
            </ng-container>
          </form>
        </div>

      </section>

      <section class="recipe-instructions">
        <ol *ngIf="recipes.instructions">
          <li *ngFor="let instruction of recipes.instructions">
            <p>{{instruction.step}}</p>
          </li>
        </ol>
      </section>
    </article>
  </div>
</div>

<ng-template #loading>
  <div class="u-loading">
    <h1>Loading&hellip;</h1>
  </div>
</ng-template>

<ng-template #private>
  <div class="u-private">
    <h1>Sorry, this recipe is private.</h1>
    <button class="btn" [routerLink]="['/home']">
      Back to Home
    </button>
  </div>
</ng-template>