<div class="main__banner"></div>

<section class="benefits">
  <div class="benefits__bg"></div>
  <div class="benefits__points">
    <h2 class="benefits__title">Amazing Recipes</h2>
    <ul class="benefits__list">
      <li>Easy to made</li>
      <li>Save your favourite one</li>
      <li>View others' recipes</li>
    </ul>
  </div>
</section>

<app-recipedb [limitation]="listLimit" [customClass]="'l-all'" [title]="'Latest Recipes'" [orderBy]="'createdAt'">
</app-recipedb>

<app-recipedb [limitation]="favLimit" [customClass]="'l-small'" [title]="'Most liked recipes'" [orderBy]="'likeCount'">
</app-recipedb>

<section class="toprate"></section>